/**
*   e classroom stylesheet
*   by habbeboy (07087322191)
*/

body {
    font-family: Helvetica Neue, Calibri, Helvetica, Arial, sans-serif;
    margin:0px auto;
}

h1, h2, h3 {

    margin:0px;
    padding:0px;
}

#eclassroom-wrapper {

    width:100%;
}

.eclassroom-header {

    line-height: 60px;
    width:100%;
    box-shadow:inset 2px 2px #666;
}

.title {
    float:left;
    width:400px;
    color:#e40087;
    padding-top:15px;

}


.title > h1 > strong {

    font-size:13px;
    color:#666;
}

.nav {

    float:left;
    width:300px;
}

.in-nav {

    background:#666;
    background-image:linear-gradient(top,#666,#000);
    background-image:-moz-linear-gradient(top,#666,#000);
    background-image:-webkit-linear-gradient(top,#666,#000);
    width:400px;
    border-radius:29px;
    color: #dedede;
}

.in-nav ul li {

    display:inline;
    padding:8px;
    color:#dedede;
}

.in-nav ul li a{

    color:#dedede;
    text-decoration: none;
    text-transform: uppercase;
    font:13px Arial,helvetica;

}

.in-nav ul li a:hover {

    color:#999;
}

.in-nav ul li > ul {

    display: none;
}

.thumbnail1 {
	
	height: 300px;
	width: 100%;
	background: url('../_eclassroom_images/slider-img1.jpg') ;
	margin-top: -30px;
	border-bottom: 5px solid #34495e;
}

.thumbnail0 {
	
	height: 150px;
	width: 100%;
	background: url('../_eclassroom_images/slider-img1.jpg') ;
	margin-top: -30px;
	border-bottom: 5px solid #34495e;
}

.welcome-board {

	margin:auto;
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	top: 50px;
	border-radius: 10px;
	padding: 10px;
}

.welcome-board1 {

	margin:auto;
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	top: 25px;
	border-radius: 10px;
	padding: 10px;
}

.txt {
  margin-top: 20px;	
  font-family: 'Sans Fonts';
  text-transform: capitalize;
  color: #34495e;	
}

@font-face {
  font-family: 'Sans Fonts';
  src: url("./fonts/Dosis-ExtraLight.ttf");
}

.welcome-board h3 {
	
	color: #FFF;
	font-family: 'Sans Fonts';
}

footer {
 
   background: #111;
   padding-bottom: 30px;
}

.wrap-it-up {

    width:950px;
    margin:auto;
}
/* slideshow */

.slideshow {

    width:950px;
    margin:10px auto;
    border:4px solid #666666;
    height:300px;
    overflow:hidden;
}

.eclassroom-content {

   width:950px;
   margin: auto;
   color:#000;
}

.section2 {

    float:left;
    width:400px;
}

.content-left {

    float:left;
    width:550px;
}

.eclassroom-footer {

    margin:auto;
    width:950px;
    border-top:1px dashed #e40087;
    color:#cccccc;
}


.menu-link {

    margin:0px;
    padding:0px;
}

.menu-link li {

    display:block;
    padding:3px;
}

.menu-link li a {

    text-decoration: none;
    font:13px arial,helvetica;
    color:#000000;
    text-transform: uppercase;
}